.product-details {
    max-width: 700px;
    margin: 40px auto;
    padding: 25px;
    border: 1px solid #4b4949;
    border-radius: 10px;
    background-color: #39333e;
}

.product-details h2 {
    margin-bottom: 20px;
    font-size: 28px;
    text-align: center;
}

.product-details p {
    margin: 12px 0;
    font-size: 18px;
    line-height: 1.5;
}

.product-details strong {
    font-weight: 600;
}

.actions {
    display: flex;
    gap: 12px;
    margin-top: 20px;
}

.edit-btn,
.delete-btn {
    padding: 10px 18px;
    border: none;
    border-radius: 6px;
    text-decoration: none;
    cursor: pointer;
}